.main-container {
	font-size: 2rem;
}

.header {
	font-size: 2rem;
	&_end,
	.links {
		font-size: 3rem;
	}
}

.title {
	font-size: 3rem;
	@include header-grey;
}
.message {
	font-size: 1.5rem;
	@include header-grey;
}
input {
	font-size: 1.5rem;
}
