.header {
	display: flex;
	justify-content: space-between;
	margin: 2rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	h1 {
		padding-left: 1rem;
		color: #333;
		opacity: 0.7;
	}
	&_end {
		margin: 2rem;
		display: flex;
		& > div {
			cursor: pointer;
			padding: 5px;
			@include header-blue;
			&:hover {
				@include header-grey;
			}
		}
	}
}
